---
import { vitalInfo } from "@demono/info";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Demono Astro</title>
	</head>
	<body>
		<h1>Demono Astro personal testing env</h1>
    <h2>Package content</h2>
    <span>{vitalInfo}</span>
	</body>
</html>
